## Data & data type

In [11]:
a = 10

In [2]:
a

10

In [3]:
b = '10'

In [4]:
b

'10'

In [5]:
type(a)

int

In [6]:
type(b)

str

In [7]:
type('d')

str

In [8]:
a = True

In [9]:
type(a)

bool

In [10]:
a

True

In [12]:
a

10

In [13]:
id(a)

9793376

In [14]:
b = 10

In [15]:
id(b)

9793376

In [18]:
b = '10a'

In [19]:
int(b)

ValueError: invalid literal for int() with base 10: '10a'

## Functions

In [26]:
def square(num):
    sq1 = num ** 2
    sq2 = num * num
    return sq1, sq2

In [28]:
a, b = square(10)

In [29]:
a

100

In [30]:
b

100

In [32]:
square(10)[0]

100

In [33]:
square(10)[1]

100

## Control Flow

#### if statement

In [39]:
num = 34
if num%2==0:
    print("The number is even", num)
    print("something else")
    
print("Finished")

The number is even 34
something else
Finished

In [40]:
num = 33
if num%2==0:
    print("The number is even", num)
    print("something else")
else:
    print("The number is odd")
    
print("Finished")

The number is odd
Finished

age 0-18: No tax
age 18-65: Tax slot 1
age 65: Tax slot 2

In [44]:
age = 66

if age < 18:
    print("No tax")

elif 18 < age < 65:
    print("Slot 1")

elif 65 < age < 67:
    print("Slot 3")
    
else:
    print("Slot 2")

Slot 3

#### Nested if statement

In [48]:
if age < 18:
    if age > 14:
        print("Some regime")
    print('No tax')

elif 18 < age < 65:
    print("Slot 1")

elif 65 < age < 67:
    print("Slot 3")
    
else:
    print("Slot 2")

Slot 3

### Loops

#### for loop

In [49]:
employees = [1000000, 1500000, 2500000]

In [50]:
for salary in employees:
    print(salary)

1000000
1500000
2500000

In [52]:
employees[:-1]

[1000000, 1500000]

#### while loop

In [54]:
current_balance = 100
fd_cutoff = 1000
fd_amt = 500

while current_balance < fd_cutoff:
    print("Current Balance: ", current_balance)
    current_balance += 100
    

current_balance = current_balance - fd_amt
print(current_balance)

Current Balance:  100
Current Balance:  200
Current Balance:  300
Current Balance:  400
Current Balance:  500
Current Balance:  600
Current Balance:  700
Current Balance:  800
Current Balance:  900
500

In [55]:
counter = 0
while counter <= 10:
    print(counter)
    counter +=1

0
1
2
3
4
5
6
7
8
9
10